.hate {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__btn {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
  }
}