@import "../../styleutils/variables.scss";

.square-btn {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  padding: 50%;
  border-radius: 12px;
  width: 100%;
  transition: border .2s ease-in;
  height: 100%;
  max-width: 1440px;

  &.clicked {
    border: 1px solid $bar-color;
  }

  &__emoji {
    font-size: 56px;
  }

  &__title {
    color: $main-text-color;
    font-weight: 600;
  }
}