.gender {
  &__list {
    display: flex;
    gap: 2%;
    justify-content: center;
    flex-wrap: wrap;
    // height: 30vh;
    margin-top: 5%;
  }
  
  &__item {
    width: 28%;
    height: 100%;
    max-width: 330px;
  }
}