$background-color: #1f022c;

$bar-color: #e4229c;

$choice-color: #36173d;

$main-text-color: #fff;

$second-text-color: #C4C8CC;

$second-text-color-low-opacity: #C4C8CC80;

$radio-btn-color: #6D4376;

$input-focus-background-color: #492752;

$input-focus-border-color: #D0006E;