@import "../../styleutils/variables.scss";

.email-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
    gap: 56px;
  }
  
  &__policy {
    width: 70%;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  &__error {
    color: $bar-color;
  }
}
