@import "../../styleutils/mixins.scss";

.topics {
  @include main-positioning;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 9px;
    overflow-x: hidden;
    padding-block: 30px;
    place-items: center;
    column-gap: 1%;
  }

  &__item {
    margin-top: 10px;
    min-height: 105px;
    min-width: 103px;
    width: 100%;
    height: 100%;
    max-width: 220px;
    max-height: 220px;

    &:nth-child(odd) {
      margin-top: -2em;
      padding-block: 2px;
    }
  }
}
