@import "../../styleutils/variables.scss";

.next-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 3%;

  &__button {
    width: 90%;
    height: 56px;
    background-color: $bar-color;
    color: $main-text-color;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 800;
    line-height: 24px;
    transition: opacity 0.2s ease-in;

    &.disabled {
      cursor: not-allowed;
      opacity: 40%;
    }
  }

  &__link {
    color: $main-text-color;
    text-decoration: none;
  }
}
