@import "../../styleutils/variables.scss";

.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 30px;

  &__wrap {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__page-total {
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
  }

  &__page-number {
    position: relative;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
    color: $bar-color;
  }

  &__bracket {
    color: $main-text-color;
    left: 15px;
    font-weight: 500;
  }

  &__bar {
    width: 90%;
    height: 3px;
    position: relative;
    background: $main-text-color;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: $main-text-color;
  }

  &__fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: $bar-color;
  }
}
